{{> header}}
	<div style="300px; align="center">
		
		<div align="center">
			<a href="{{baseURL}}/register.xhtml">Join</a>
		</div>
		
		<div align="center"><b>One of your friends have given you about this service. </b><br/></div>
		<div align="center"><b>Jobbr is a service for sharing jobs.So whether you have too much or too little to do,this is the<br/>
		service for you.Register by following the link below.</b>
		</div>
		<div align="center">
			<a href="{{baseURL}}/register.xhtml">PRESS HERE</a>
		</div>
		
	</div>	
{{> footer}}