.hero {
	background: url("../images/start.png") no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;
	max-height: 100%;
	padding-bottom: 54px;
}
.hero .intro {
	padding-top: 25vh;
}
.hero h1 {
    color: #fff;
    font-size: 2.5rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center;
}
.hero p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 200;
	font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.top-bar {
	position: fixed;
	padding: 0 !important;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
}
.top-bar .menu {
	transition: background-color 300ms ease-in;
	-webkit-transition: background-color 300ms ease-in;
	-moz-transition: background-color 300ms ease-in;
	-ms-transition: background-color 300ms ease-in;
	-o-transition: background-color 300ms ease-in;
}
.top-bar .menu.top-bar-color {
	background-color: rgba(43,42,41,0.6) !important;
}
.top-bar, .top-bar ul {
    background-color: rgba(0,0,0,0);
}
.top-bar .menu a.button {
    font-size: 1.5em !important;
	padding: 0.3em 1em;
	width: 170px;
}
.top-bar .title, .helper-footer .title {
	font-size: 2em;
	line-height: 1.5em;
	color: #fff !important;
}
.top-bar .title i {
	font-size: 2rem;
}
.button.hollow.hlpr-color-white {
	border: 1px solid #fff;
	color: #fff;
}
.top-bar .title:hover, .top-bar .title:focus {
	text-shadow: -1px 1px 8px rgba(255,255,255,0.7);
}
.button.hollow.hlpr-color-white:hover, .button.hollow.hlpr-color-white:focus {
	background-color: #fff;
	color: #333;
}
.top-bar .button:hover, .top-bar .button:focus {
	box-shadow: -1px 1px 8px rgba(0,0,0,0.6);
}
.hero .home-search {
	margin-top: 15vh;
}
.hero .home-search .search-bar {
	
}
.hero .home-search textarea.search-bar {
	text-align: center;
}
.hero .home-search input.search-bar {
	text-align: center;
}
::-webkit-input-placeholder {
	text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
	text-align: center;
	color: #555;
}
:-ms-input-placeholder {
	text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
	text-align: center;
}
.off-canvas-wrapper, .off-canvas{
	background-color: rgba(43,42,41,0.9);		/* #2b2a29 */
}
.off-canvas {
	padding: 15px 0;
}
.off-canvas-list li {
	list-style-type: none;
	padding: 0 15px;
}
.off-canvas-list li a {
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 38px;
	display: block;
}
.off-canvas-list .first {
	color: #727272;
	font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
}
#offCanvasLeft button, #offCanvasLeft a {
	color: rgba(255,255,255,0.75);
}
#offCanvasLeft a:hover, #offCanvasLeft a:focus,
#offCanvasLeft .close-button:hover {
	color: #fff !important;
}
.helper-type {
	position: relative;
}
.helper-type img {
	z-index: -999;
}
.helper-type .type-title {
	position: absolute;
	bottom: 3vh;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-weight: bold;
}
.helper-type .type-title p {
	font-size: 1.5em;
}
.helper-type .type-title .button {
	margin-right: 0;
	padding: 0.5rem 1.5rem;
	letter-spacing: 1px;
}
.helper-comment {
	padding: 3em 0;
}
.helper-comment img {
	width: 200px;
	height: 200px;
}
.helper-comment .comment-container, .helper-store .store-container,
.helper-job-detail .job-detail-container {
	display: table;
}
.helper-comment .comment-container .container-img {
	height: 100%;
	width: 100%;
}
.helper-comment .comment-container blockquote, .helper-comment .comment-container .container-img,
.helper-store .store-detail, .helper-job-detail .job-detail {
	display: table-cell;
	vertical-align: middle;
}
.helper-comment .comment-container blockquote,
.helper-comment .comment-container blockquote p,
.helper-comment .comment-container blockquote a,
.helper-comment .comment-container blockquote cite {
	color: #fff !important;
	border-left: none;
	font-style: oblique;
	font-size: 1rem;
}
.helper-comment .comment-container blockquote p:before {
	content: open-quote;
}
.helper-comment .comment-container blockquote p:after {
	content: close-quote;
}
.helper-comment .comment-container blockquote cite {
	padding-top: 1rem;
}
.helper-store .container-img img {
	width: 395px;
	height: 300px;
}
.helper-store .store-container {
	height: 300px;
}
.helper-store .store-container, .helper-job-detail .job-detail-container {
	padding: 0 1em !important;
}
.helper-store .store-detail p, .helper-job-detail .job-detail p,
.helper-job-detail .job-detail .job-detail-button a  {
	font-size: 1.2em;
}
.helper-store .store-detail p, .helper-job-detail .job-detail p {
	margin-top: 1.5em;
}
.helper-store .store-detail .store-button, .helper-job-detail .job-detail .job-detail-button {
	margin-top: 2em;
}
.helper-store .store-detail .store-button a {
	display: inline-block;
	margin-right: 4%;
}
.helper-store .store-detail .store-button a img {
	width: 148px;
	height: 48px;
}
.helper-job-detail .container-img, .helper-job-detail .job-detail-container {
	height: 422px;
}
.helper-job-detail .img-tidfordegogdine {
	background: url("../images/tidfordegogdine.jpg") no-repeat center center;
	background-size: cover;
}
.helper-job-detail .img-rydde {
	background: url("../images/rydde.jpg") no-repeat center center;
	background-size: cover;
}
.helper-footer {
	margin-bottom: 0;
}
.helper-footer .title {
	margin-bottom: 15px;
}
.helper-footer .menu a, .helper-footer .button {
	color: #fff;
	border: 1px solid #2b2a29;
	transition: border-color 300ms ease;
	-webkit-transition: border-color 300ms ease;
	-moz-transition: border-color 300ms ease;
	-ms-transition: border-color 300ms ease;
	-o-transition: border-color 300ms ease;
}
.helper-footer .menu a:hover, .helper-footer .menu a:focus,
.helper-footer .button:hover, .helper-footer .button:focus {
	border-color: #fff;
}
.social-button a:hover, .social-button a:focus {
	border-color: rgba(0,0,0,0);
}
.social-button a img {
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
}
.social-button a:hover > img, .social-button a:focus > img {
	margin-top: -10px;
}
.wrapper-content {
	/*margin-top: 82px;*/
	padding: 50px 0;
}
.circular-img {
	border: 1px solid #3ac5e6;
	border-radius: 50%;
}
#offCanvasLeft {
	z-index: 6;
}
/* Helper Colours Start */
.hlpr-color-info {
	background-color: #3ac5e6;
	color: #fff;
}
.hlpr-color-alert {
	background-color: #ef6767;
	color: #fff;
}
.hlpr-color-warning {
	background-color: #ffbe00;
	color: #fff;
}
.hlpr-color-success {
	background-color: #6bbe54;
	color: #fff !important;
}
.hlpr-color-black {
	background-color: #2b2a29;
	color: #fff;
}
#main-wrapper {
	margin-top: 64px;
}
#offCanvasLeft {
	top: inherit;
}
/* Helper Colours End */
/* Helper Buttons Start */
.button {
	padding: 0.8em 1em;
}
.button.wide{
	padding: 0.5em 1.3em;
}
.button.wide-x{
	padding: 0.5em 2.3em;
}
.button.hlpr-color-info:hover, .button.hlpr-color-info:focus {
	background-color: #03a6cd;
}
.button.hlpr-color-alert:hover, .button.hlpr-color-alert:focus {
	background-color: #cf3f3f;
}
.button.hlpr-color-warning:hover, .button.hlpr-color-warning:focus {
	background-color: #c69300;
}
.button.hlpr-color-success:hover, .button.hlpr-color-success:focus {
	background-color: #49a132;
}
/* Helper Buttons End */
/* Medium and up */
@media screen and (min-width: 40em) {
	.hero .intro {
		padding-top: 28vh;
	}
	.hero h1 {
		font-size: 3rem;
	}
	.top-bar .title, .helper-footer .title {
		font-size: 2.4rem;
	}
	.hero .home-search {
		margin-top: 18vh;
	}
	.helper-type .type-title p {
		font-size: 2em;
	}
	.helper-comment .comment-container {
		height: 200px;
	}
	.helper-comment .comment-container:nth-of-type(2n) {
		padding-right: 2.5em;
	}
	.helper-store .container-img img {
		width: 527px;
		height: 400px;
	}
	.helper-store .store-container {
		height: 400px;
	}
	.helper-store .store-container, .helper-job-detail .job-detail-container {
		padding: 0 2.5em !important;
	}
	.button.wide{
		padding: 0.6em 1.6em;
	}
	.button.wide-x{
		padding: 0.6em 2.6em;
	}
}
/* Large and up */
@media screen and (min-width: 64em) {
	.hero .intro {
		padding-top: 32vh;
	}
	.hero h1 {
		font-size: 3.5rem
	}
	.top-bar .title, .helper-footer .title {
		font-size: 2.7em;
	}
	.hero .home-search {
		margin-top: 22vh;
	}
	.helper-store .store-container, .helper-job-detail .job-detail-container {
		padding: 0 3em !important;
	}
	.button.wide{
		padding: 0.80em 2em;
	}
	.button.wide-x{
		padding: 0.80em 3em;
	}
	.wrapper-content {
		/*margin-top: 64px;*/
	}
}
/* Small only */
@media screen and (max-width: 39.9375em) {
	.helper-comment .comment-container:nth-of-type(2n) {
		margin-bottom: 2.5em;
	}
	.helper-comment .comment-container:last-child {
		margin-bottom: 0;
	}
	.helper-footer .menu {
		margin-bottom: 15px;
	}
	[class*="helper-"] h3 {
		font-size: 1.6rem;
	}
	.wrapper-content {
		/*margin-top: 70px;*/
	}
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.helper-comment .comment-container:nth-of-type(2n) {
		margin-bottom: 2.5em;
	}
	.helper-comment .comment-container:last-child {
		margin-bottom: 0;
	}
}