.hero {
	background: url("../images/start.png") no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;
	max-height: 100%;
	padding-bottom: 54px;
}
.hero .intro {
	padding-top: 25vh;
}
.hero h1 {
    color: #fff;
    font-size: 2.5rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center;
}
.hero p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 200;
	font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.top-bar {
	position: fixed;
	padding: 0 !important;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
}
.top-bar a {
	color: #fff;
}
.top-bar .menu {
	transition: background-color 300ms ease-in;
	-webkit-transition: background-color 300ms ease-in;
	-moz-transition: background-color 300ms ease-in;
	-ms-transition: background-color 300ms ease-in;
	-o-transition: background-color 300ms ease-in;
}
.top-bar .menu.top-bar-color.dark {
	background-color: rgba(43,42,41,0.6) !important;
}
.top-bar .menu.top-bar-color.light {
	background-color: #26c6e8 !important;
}
.top-bar.dark, .top-bar ul.dark {
    background-color: rgba(0,0,0,0);
}
.top-bar.light, .top-bar ul.light {
    background-color: #26c6e8;
}
.top-bar .menu a.button {
    font-size: 1.5em !important;
	padding: 0.3em 1em;
	width: 170px;
}
.top-bar .title, .helper-footer .title {
	font-size: 2em;
	line-height: 1.5em;
	color: #fff !important;
}
.top-bar .title i {
	font-size: 2rem;
}
.button.hollow.hlpr-color-white {
	border: 2px solid #fff;
	color: #fff;
}
.top-bar .title:hover, .top-bar .title:focus {
	text-shadow: -1px 1px 8px rgba(255,255,255,0.7);
}
.button.hollow.hlpr-color-white:hover, .button.hollow.hlpr-color-white:focus {
	background-color: #fff;
	color: #333;
}
.top-bar .button:hover, .top-bar .button:focus {
	box-shadow: -1px 1px 8px rgba(0,0,0,0.6);
}
.top-bar .menu-last a {
	margin-right: 20px;
}
.hero .home-search {
	margin-top: 15vh;
}
.hero .home-search .search-bar {
	
}
.hero .home-search textarea.search-bar {
	text-align: center;
}
.hero .home-search input.search-bar {
	text-align: center;
}
::-webkit-input-placeholder {
	text-align: left;
}
::-moz-placeholder { /* Firefox 19+ */
	text-align: left;
	color: #555;
}
:-ms-input-placeholder {
	text-align: left;
}
:-moz-placeholder { /* Firefox 18- */
	text-align: left;
}
.off-canvas-wrapper, .off-canvas{
	background-color: rgba(43,42,41,0.9);		/* #2b2a29 */
}
.off-canvas {
	padding: 15px 0;
}
.off-canvas-list li {
	list-style-type: none;
	padding: 0 15px;
}
.off-canvas-list li a {
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 38px;
	display: block;
}
.off-canvas-list .first {
	color: #727272;
	font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
}
#offCanvasLeft button, #offCanvasLeft a {
	color: rgba(255,255,255,0.75);
}
#offCanvasLeft a:hover, #offCanvasLeft a:focus,
#offCanvasLeft .close-button:hover {
	color: #fff !important;
}
.helper-type {
	position: relative;
}
.helper-type img {
	z-index: -999;
}
.helper-type .type-title {
	position: absolute;
	bottom: 3vh;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-weight: bold;
}
.helper-type .type-title p {
	font-size: 1.5em;
}
.helper-type .type-title .button {
	margin-right: 0;
	padding: 0.5rem 1.5rem;
	letter-spacing: 1px;
}
.helper-comment {
	padding: 3em 0;
}
.helper-comment img {
	width: 200px;
	height: 200px;
}
.helper-comment .comment-container, .helper-store .store-container,
.helper-job-detail .job-detail-container {
	display: table;
}
.helper-comment .comment-container .container-img {
	height: 100%;
	width: 100%;
}
.helper-comment .comment-container blockquote, .helper-comment .comment-container .container-img,
.helper-store .store-detail, .helper-job-detail .job-detail {
	display: table-cell;
	vertical-align: middle;
}
.helper-comment .comment-container blockquote,
.helper-comment .comment-container blockquote p,
.helper-comment .comment-container blockquote a,
.helper-comment .comment-container blockquote cite {
	color: #fff !important;
	border-left: none;
	font-style: oblique;
	font-size: 1rem;
}
.helper-comment .comment-container blockquote p:before {
	content: open-quote;
}
.helper-comment .comment-container blockquote p:after {
	content: close-quote;
}
.helper-comment .comment-container blockquote cite {
	padding-top: 1rem;
}
.helper-store .container-img img {
	width: 395px;
	height: 300px;
}
.helper-store .store-container {
	height: 300px;
}
.helper-store .store-container, .helper-job-detail .job-detail-container {
	padding: 0 1em !important;
}
.helper-store .store-detail p, .helper-job-detail .job-detail p,
.helper-job-detail .job-detail .job-detail-button a  {
	font-size: 1.2em;
}
.helper-store .store-detail p, .helper-job-detail .job-detail p {
	margin-top: 1.5em;
}
.helper-store .store-detail .store-button, .helper-job-detail .job-detail .job-detail-button {
	margin-top: 2em;
}
.helper-store .store-detail .store-button a {
	display: inline-block;
	margin-right: 4%;
}
.helper-store .store-detail .store-button a img {
	width: 148px;
	height: 48px;
}
.helper-job-detail .container-img, .helper-job-detail .job-detail-container {
	height: 422px;
}
.helper-job-detail .img-tidfordegogdine {
	background: url("../images/tidfordegogdine.jpg") no-repeat center center;
	background-size: cover;
}
.helper-job-detail .img-rydde {
	background: url("../images/rydde.jpg") no-repeat center center;
	background-size: cover;
}
.helper-footer {
	margin-bottom: 0;
}
.helper-footer .title {
	margin-bottom: 15px;
}
.helper-footer .menu a, .helper-footer .button {
	color: #fff;
	border: 1px solid #2b2a29;
	transition: border-color 300ms ease;
	-webkit-transition: border-color 300ms ease;
	-moz-transition: border-color 300ms ease;
	-ms-transition: border-color 300ms ease;
	-o-transition: border-color 300ms ease;
}
.helper-footer .menu a:hover, .helper-footer .menu a:focus,
.helper-footer .button:hover, .helper-footer .button:focus {
	border-color: #fff;
}
.social-button a:hover, .social-button a:focus {
	border-color: rgba(0,0,0,0);
}
.social-button a img {
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
}
.social-button a:hover > img, .social-button a:focus > img {
	margin-top: -10px;
}
.wrapper-content {
	/*margin-top: 82px;*/
	padding: 50px 0;
}
.circular-img {
	border-radius: 50%;
}
#offCanvasLeft {
	z-index: 6;
}
.border-radius-5px {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.border-radius-5px-left {
	border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-ms-border-radius: 5px 0 0 5px;
	-o-border-radius: 5px 0 0 5px;
}
.border-radius-5px-right {
	border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-ms-border-radius: 0 5px 5px 0;
	-o-border-radius: 0 5px 5px 0;
}
.border-radius-7px {
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}
.border-radius-7px-left {
	border-radius: 7px 0 0 7px;
	-webkit-border-radius: 7px 0 0 7px;
	-moz-border-radius: 7px 0 0 7px;
	-ms-border-radius: 7px 0 0 7px;
	-o-border-radius: 7px 0 0 7px;
}
.border-radius-7px-right {
	border-radius: 0 7px 7px 0;
	-webkit-border-radius: 0 7px 7px 0;
	-moz-border-radius: 0 7px 7px 0;
	-ms-border-radius: 0 7px 7px 0;
	-o-border-radius: 0 7px 7px 0;
}
.border-radius-9px {
	border-radius: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	-ms-border-radius: 9px;
	-o-border-radius: 9px;
}
.border-radius-9px-left {
	border-radius: 9px 0 0 9px;
	-webkit-border-radius: 9px 0 0 9px;
	-moz-border-radius: 9px 0 0 9px;
	-ms-border-radius: 9px 0 0 9px;
	-o-border-radius: 9px 0 0 9px;
}
.border-radius-9px-right {
	border-radius: 0 9px 9px 0;
	-webkit-border-radius: 0 9px 9px 0;
	-moz-border-radius: 0 9px 9px 0;
	-ms-border-radius: 0 9px 9px 0;
	-o-border-radius: 0 9px 9px 0;
}
.search-list {
	border-bottom: 1px solid #e6e6e6;
	padding: 1rem 0;
}
.search-list:last-child {
	border-bottom: none;
	padding-bottom: 0;
}
.search-list:first-child {
	padding-top: 0;
}
.search-list .job-title {
	margin-bottom: 0;
}
.search-list .job-time-info {
	margin-bottom: 0.5rem;
	color: #ababab;
}
.search-list i {
	font-size: 1.3em;
	margin-right: 0.5rem;
	width: 0.2rem;
}
.search-list:nth-of-type(2n) {
	background-color: #f4f1f3;
}

/*Login Modal Starts*/
#login-modal {
	max-width: 380px;
	border-radius: 8px;
}
#loginFbBtn {
	background-color: #3A5795;
	width: 100%; 
	margin-top: 15px; 
	border-radius: 8px;
	font-size: 0.95em;
	text-align: left;
}
#loginFbIcon {
	font-size: 1.3em;
	margin-right: 50px;
	
}
#loginOr {
	color: #8A8A8A;
	font-size: 1.00em;
	font-weight: 800;
    margin: 6px 0 15px;
}
#loginForgot {
	color: #8A8A8A;
}
#loginRegisterBtn {
	
}
#loginBtn {
	width: 100%; 
	border-radius: 8px;
	padding: 15px 0;
	margin-top: 15px;
}
#loginRememberLabel {
	color: #8A8A8A;
	font-size: 1em;
}
#login-modal input[type="text"], input[type="password"] {
	width: 100%; 
	border-radius: 8px;
}
/*Login Modal Ends*/

/*Find Job Starts*/
.jobToggle {
	display: block;
	 -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
.whatever :hover {
  -webkit-filter: grayscale(100%);
  background: #ccc;
}
/*Find Job Ends*/

/*Job Confirmation Modal Starts*/
#job-confirmation-modal {
	border-radius: 8px;
}
#jobConfirmation {
	padding: 0 25px;
}
#job-confirmation-modal h4 {
	font-size: 1.25em;
    margin: 20px 0 40px 0;
}
#job-confirmation-modal img {
	display: block;
	margin: 0 auto 30px;
	width: 196px;
}
#job-confirmation-modal a {
	width: 32%;
	border-radius: 8px;
	padding: 15px 0;
}
#job-confirmation-modal p {
	font-size: 0.60em;
	font-weight: 600;
	margin: 15px 20px 5px;
}
/*Job Confirmation Modal Ends*/

/*Register Modal Starts*/
#register-modal {
	border-radius: 8px;
}
#registerForm h4 {
	color: #8A8A8A;
	font-size: 1.0em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
}
#registerForm h5 {
	color: #8A8A8A;
	font-size: 0.95em;
	margin: 5px 0 15px;
}
#dobLabel {
	color: #8A8A8A;
	font-weight: bold;

}
#registerForm input[type="text"], input[type="password"] {
	border-radius: 8px;
}
#registerForm select {
	border-radius: 8px;
	color: #8A8A8A;
}
#newsLetter {
	width: 20px;
	height: 15px;	
}
#newsLetterLabel {
	margin: 0 7px;
	vertical-align: middle;
    padding-bottom: 6px;
    color: #8A8A8A;
    
}
#verifyTitle {
	margin: 0 0 47px;
}
.verificationCode {
	background: url(../images/success.png) no-repeat !important;
    background-size: 36px 32px !important;
    /* padding: 5px 5px; */
    background-position: 95% 70% !important;
}
#registerForm p {
	font-size: 0.75em;
	color: #8A8A8A;
	margin-top: 20px;
}
#registerProceed p {
	margin: 30px auto;
    color: #8A8A8A;
    text-align: center;
    text-rendering: optimizeLegibility;
    font-size: 1.05em;
    font-weight: 200;
    z-index: -5;
    letter-spacing: 0.02em;
    word-spacing: 4px;
}
#registerProceed img {
	margin: 10px auto 40px;
}
#registerProceed a {
	width: 100%
}
/*Register Modal Ends*/

/*Change Password Modal Starts*/
#change-password-modal {
	max-width: 400px;
	border-radius: 7px;
}
#change-password-modal h4 {
	color: #8A8A8A;
	font-size: 1.40em;
    font-weight: 600;
    margin: 10px 0 20px;
}
#change-password-modal h5 {
	color: #8A8A8A;
	font-size: 0.95em;
    margin: 0 0 15px;
}
#change-password-modal a {
	width: 100%;
	border-radius: 5px;
}
/*Change Password Modal Ends*/

/*Forgot Password Modal Starts*/
#forget-password-modal {
	max-width: 400px;
	border-radius: 5px;
}
#forget-password-modal h4 {
	color: #8A8A8A;
}
#forget-password-modal p {
	font-size: 1em;
	color: #8A8A8A;
}
#forget-password-modal a {
	width: 100%;
	border-radius: 5px;
}
.success-tick {
	width: 75px;
	height: 80px;
	margin: 18px 0 20px;
}
/*Forgot Password Modal Ends*/

/*phone-verification-modal Starts*/
#phone-verification-modal {
	max-width: 400px;
	border-radius: 5px;
}
#phone-verification-modal h4{
	color: #8A8A8A;
}
#phone-verification-modal intput=[type="text"] {
	border-radius: 5px;
}
#phone-verification-modal p {
	font-size: 1em;
	color: #8A8A8A;
}
#phoneVerifyCodeBtn {
	width: 100%;
	border-radius: 5px;
}
#forgotResponseMsg {
	color: #8A8A8A;
	font-size: 1em;
}
#phoneVerifyImg {
	width: 80px;
	height: 75px;
	margin: 18px 0;
}
#phoneVerifyOkBtn {
	width: 100%;
	border-radius: 5px;
}
/*phone-verification-modal Ends*/

/*evaluate-helper-modal starts*/
#evaluate-helper-modal {
	background: #F4F2F3;
	border-radius: 8px;
}
#evaluate-helper h4 {
	font-size: 1.12em;
	color: #000000;
	padding: 15px 0 11px;
}
#evaluate-helper img {
	width: 100px;
	height: 100px;
	border-radius: 6px;
}
#evaluate-helper i {
	font-size: 33px;
	color: #ABA9A7;
	padding: 15px 4px 15px
}
#evaluate-helper i:hover {
	color: #26C7E8
}
#evaluate-helper textarea {
	background: #EDEEED;
	border: none;
	height: 80px;
}
#evaluate-helper textarea::-webkit-input-placeholder {
color: #979595 !important;
font-size: 0.7em;
line-height: 1.75em;
}
 
#evaluate-helper textarea:-moz-placeholder { /* Firefox 18- */
color: #979595 !important; 
font-size: 0.7em;
line-height: 1.75em;
}
 
#evaluate-helper textarea::-moz-placeholder {  /* Firefox 19+ */
color: #979595 !important; 
font-size: 0.7em;
line-height: 1.75em;
}
 
#evaluate-helper textarea:-ms-input-placeholder {  
color: #979595 !important;
font-size: 0.7em;
line-height: 1.75em;  
}
#evaluateOkBtn {
	width: 100%;
	border-radius: 6px;
	padding: 12px 0;
}
#evaluate-helper p {
	font-size: 10px;
	padding: 5px 0;
	color: #000000;
}
/*evaluate-helper-modal ends*/

/*evaluate-confirmation-modal starts*/
#evaluate-confirmation-modal {
	width: 400px;
	border-radius: 8px;
}
#evaluate-confirmation h4 {
	font-size: 1.2em;
	color: #969595;
	font-weight: bold;
	padding: 15px 0 5px;
}
#evaluate-confirmation img {
	width: 65px;
    height: 60px;
    margin: 0px 0 15px
}
#evaluate-confirmation a {
	width: 100%;
    padding: 14px 0;
    border-radius: 8px;
}
/*evaluate-confirmation-modal ends*/

/*card-info-modal starts*/
#card-info-modal {
	border-radius: 8px;
	background: #FFFFFF;
}
#card-info h4 {
	padding: 7px 0 40px;
	color: #31302F;
}
#card-info h6 {
	font-size: 1.2em;
    padding: 0 0 10px;
    color: #31302F
}
#card-info label {
	line-height: 3;
	color: #3A3938;
} 
#card-info input[type="text"]::-webkit-input-placeholder {
color: #B8B8B6 !important;
font-size: 0.7em;
line-height: 1.75em;
}
#card-info input[type="text"]:-moz-placeholder { /* Firefox 18- */
color: #B8B8B6 !important;
font-size: 0.7em;
line-height: 1.75em;
}
#card-info input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
color: #B8B8B6 !important;
font-size: 0.7em;
line-height: 1.75em;
}
#card-info input[type="text"]:-ms-input-placeholder {
color: #B8B8B6 !important;
font-size: 0.7em;
line-height: 1.75em;
}
#card-info a{
	margin-top: 10px;
	width: 100%; 
	padding: 14px 10px; 
	border-radius: 8px;
} 
/*card-info-modal ends*/

/* Helper Colours Start */
.hlpr-color-info {
	background-color: #3ac5e6;
	color: #fff;
}
.hlpr-color-alert {
	background-color: #ef6767;
	color: #fff;
}
.hlpr-color-warning {
	background-color: #ffbe00;
	color: #fff;
}
.hlpr-color-success {
	background-color: #6bbe54;
	color: #fff !important;
}
.hlpr-color-black {
	background-color: #2b2a29;
	color: #fff;
}
.hlpr-color-second {
	background-color: #C4C2C2;
	color: #fff;
}
#main-wrapper {
	margin-top: 64px;
}
#offCanvasLeft {
	top: inherit;
}
/* Helper Colours End */
/* Helper Buttons Start */
.button {
	padding: 0.8em 1em;
}
.button.wide{
	padding: 0.5em 1.3em;
}
.button.wide-x{
	padding: 0.5em 2.3em;
}
.button.hlpr-color-info:hover, .button.hlpr-color-info:focus {
	background-color: #03a6cd;
}
.button.hlpr-color-alert:hover, .button.hlpr-color-alert:focus {
	background-color: #cf3f3f;
}
.button.hlpr-color-warning:hover, .button.hlpr-color-warning:focus {
	background-color: #c69300;
}
.button.hlpr-color-success:hover, .button.hlpr-color-success:focus {
	background-color: #49a132;
}
.button.hlpr-color-second:hover, .button.hlpr-color-second:focus {
	background-color: #ABA9A9;
}
/* Helper Buttons End */
/* Medium and up */
@media screen and (min-width: 40em) {
	.hero .intro {
		padding-top: 28vh;
	}
	.hero h1 {
		font-size: 3rem;
	}
	.top-bar .title, .helper-footer .title {
		font-size: 2.4rem;
	}
	.hero .home-search {
		margin-top: 18vh;
	}
	.helper-type .type-title p {
		font-size: 2em;
	}
	.helper-comment .comment-container {
		height: 200px;
	}
	.helper-comment .comment-container:nth-of-type(2n) {
		padding-right: 2.5em;
	}
	.helper-store .container-img img {
		width: 527px;
		height: 400px;
	}
	.helper-store .store-container {
		height: 400px;
	}
	.helper-store .store-container, .helper-job-detail .job-detail-container {
		padding: 0 2.5em !important;
	}
	.button.wide{
		padding: 0.6em 1.6em;
	}
	.button.wide-x{
		padding: 0.6em 2.6em;
	}
}
/*Min width 800px*/
@media screen and (min-width: 50em) {
	#register-modal {
		min-width: 800px;
	}
	#job-confirmation-modal {
		width: 730px;
	}
	#evaluate-helper-modal {
		width: 700px;
	}
	#card-info-modal {
		width: 700px;
	}
}
/* Large and up */
@media screen and (min-width: 64em) {
	.hero .intro {
		padding-top: 32vh;
	}
	.hero h1 {
		font-size: 3.5rem
	}
	.top-bar .title, .helper-footer .title {
		font-size: 2.7em;
	}
	.hero .home-search {
		margin-top: 22vh;
	}
	.helper-store .store-container, .helper-job-detail .job-detail-container {
		padding: 0 3em !important;
	}
	.button.wide{
		padding: 0.80em 2em;
	}
	.button.wide-x{
		padding: 0.80em 3em;
	}
	.wrapper-content {
		/*margin-top: 64px;*/
	}
	#register-modal {
		width: 800px;
	}
}
/* Small only */
@media screen and (max-width: 39.9375em) {
	.helper-comment .comment-container:nth-of-type(2n) {
		margin-bottom: 2.5em;
	}
	.helper-comment .comment-container:last-child {
		margin-bottom: 0;
	}
	.helper-footer .menu {
		margin-bottom: 15px;
	}
	[class*="helper-"] h3 {
		font-size: 1.6rem;
	}
	.wrapper-content {
		/*margin-top: 70px;*/
	}
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.helper-comment .comment-container:nth-of-type(2n) {
		margin-bottom: 2.5em;
	}
	.helper-comment .comment-container:last-child {
		margin-bottom: 0;
	}
}
.cover {
	position: relative;
	height: 300px;
}
.cover .profile-img {
	position: absolute;
	top:0;
	width: 100%;
}
.cover .profile-img .thumbnail {	
	transform: translateY(140px);
	-webkit-transform: translateY(140px);
	-moz-transform: translateY(140px);
	-ms-transform: translateY(140px);
	-o-transform: translateY(140px);
}
.cover .profile-img img{
	z-index: 10;
	width: 160px;
	height: 160px;
	line-height: 160px;
	text-align: center;
	font-weight: bolder;
	cursor: pointer;
}
.cover-image {
	display: block;
	/* position: absolute;
	top: 0;
	left: 0; */
	height: inherit;
	width:100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	filter: blur(10px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-ms-filter: blur(5px);
	-o-filter: blur(5px);
}

#notification {
	position: relative;
}
#notification span.badge {
    position: absolute;
	bottom: -20px;
    right: 0;
}
#notification-list {
	position: fixed;
	left: auto !important;
	right: 20px !important;
	top: 64px !important;
	padding: 0 !important;
}
#notification-list ul {
	margin-bottom: 0;
}
#notification-list ul li {
	border-bottom: 1px solid #ccc;
	padding: 0.5rem;
}
#notification-list ul li:last-child {
	border-bottom: none;
}
#notification-list ul li a {
	display: block;
	color: #555;
	font-size: 12px;
}
#notification-list ul li a .lead {
	font-weight: bold;
}
#notification-list ul li img {
	width:64px;
	height:66px;
}
#notification-list ul li .media-object {
	margin-bottom: 0;
	height: 74px;
}
#notification-list ul li .media-object-section {
	padding-right: 0.5rem;
}
.bold {
	font-weight: bold;
}
.job-list {
	height:90vh;
	overflow: auto;
}
.transform-rotate-90deg {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}
.transform-rotate-180deg {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}
.transform-rotate-270deg {
	display: table-cell;
	transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
}
.detail-section {
	position: relative;
	height: 160px;
}
.detail-section .button {
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
	width: 170px;
}
.background-color-grey {
	background-color: #ebebeb;
}
.job-bid-info {
	padding: 20px 0;
}
.job-bid-info .input-group {
	margin-bottom: 0;
}
.job-bid-info .input-group-label {
	background-color: #fff;
}
.employer-info {
	padding: 20px 0;
}

/*my-profile.xhtml Starts */
#profileInfo input[type="text"]::-webkit-input-placeholder {
color: #B9B7B6 !important;
font-size: 0.7em;
line-height: 1.70em;
}
 
#profileInfo input[type="text"]:-moz-placeholder { /* Firefox 18- */
color: #B9B7B6 !important; 
font-size: 0.7em;
line-height: 1.0em;
}
 
#profileInfo input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
color: #B9B7B6 !important; 
font-size: 0.7em;
line-height: 1.0em;
}
 
#profileInfo input[type="text"]:-ms-input-placeholder {  
color: #B9B7B6 !important;
font-size: 0.7em;
line-height: 1.0em;  
}
#profileInfo textarea {
	height: 141px; 
	resize: none;
}
#profileInfo textarea::-webkit-input-placeholder {
color: #B9B7B6 !important;
font-size: 0.7em;
line-height: 1.75em;
padding: 10px 10px;
}
 
#profileInfo textarea:-moz-placeholder { /* Firefox 18- */
color: #B9B7B6 !important; 
font-size: 0.7em;
line-height: 1.75em;
padding: 10px 10px;
}
 
#profileInfo textarea::-moz-placeholder {  /* Firefox 19+ */
color: #B9B7B6 !important; 
font-size: 0.7em;
line-height: 1.75em;
padding: 10px 10px;
}
 
#profileInfo textarea:-ms-input-placeholder {  
color: #B9B7B6 !important;
font-size: 0.7em;
line-height: 1.75em; 
padding: 10px 10px;
}

#profileInfo label {
	font-size: 0.75em;
	color: #3A3938;
	line-height: 2.7;
}
#profileInfo a {
	border-radius: 7px;
	padding: 12px 20px;
	width: 100%;
	font-size: 0.85em;
}
/*my-profile.xhtml Ends*/

/*billing-info.xhtml starts*/
#paymentInfo input[type="text"]::-webkit-input-placeholder {
color: #B9B7B6 !important;
font-size: 0.7em;
line-height: 1.75em;
}
 
#paymentInfo input[type="text"]:-moz-placeholder { /* Firefox 18- */
color: #B9B7B6 !important; 
font-size: 0.7em;
line-height: 1.75em;
}
 
#paymentInfo input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
color: #B9B7B6 !important; 
font-size: 0.7em;
line-height: 1.75em;
}
 
#paymentInfo input[type="text"]:-ms-input-placeholder {  
color: #B9B7B6 !important;
font-size: 0.7em;
line-height: 1.75em;  
}
#paymentInfo label {
	font-size: 0.75em;
	color: #3A3938;
	line-height: 2.7;
}
#paymentInfo h4 {
	font-size: 1.0em;
	color: #3A3938;
	margin-bottom: 15px;
}
#paymentInfo img {
	margin-top: 40px;
}
/*billing-info.xhtml ends*/

/*user-settings.xhtml starts*/
#user-settings h4 {
	font-size: 1.05em;
	color: rgba(58,57,56,0.75);
	margin-bottom: 15px;
	font-weight: 600;
}
#user-settings p, span {
	font-size: 0.73em;
	color: #3A3938;
}
#user-settings input[type="text"]::-webkit-input-placeholder {
color: #B9B7B6 !important;
font-size: 0.7em;
line-height: 1.75em;
}
 
#user-settings input[type="text"]:-moz-placeholder { /* Firefox 18- */
color: #B9B7B6 !important; 
font-size: 0.7em;
line-height: 1.75em;
}
 
#user-settings input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
color: #B9B7B6 !important; 
font-size: 0.7em;
line-height: 1.75em;
}
 
#user-settings input[type="text"]:-ms-input-placeholder {  
color: #B9B7B6 !important;
font-size: 0.7em;
line-height: 1.75em;  
}
#user-settings label {
	font-size: 0.75em;
	color: #3A3938;
	line-height: 3.8;
}
/*user-settings.xhtml ends*/

/*proceed-paymnet.xhtml starts*/
#proceed-payment h4 {
	font-size: 1.1em;
	color: rgba(58,57,56,0.75);
	margin-bottom: 15px;
	font-weight: 600;
}
#proceed-payment p {
	font-size: 0.75em;
	color: #3A3938;
	line-height: 0.6;	
}
#proceed-payment hr {
	margin-right: 40px;
}
/*proceed-paymnet.xhtml ends*/

/*my-job.xhtml starts*/
.my-page-title {
	margin-left: -12px;
	color: #565454;
	padding-top: 15px;
}
#my-job p {
	font-size: 10px;
	line-height: 0.6;
}
#my-job a {
	padding: 5px 10px;
    font-size: 11px;
    border-radius: 6px;
}
.job-thumb {
	max-width: 80px;
	max-height: 80px;
	border-radius: 8px;
}
.job-done-tick {
	height: 20px;
	width: 25px;
}
/*my-job.xhtml ends*/

ul.custom-tabs {
	background-color: #f5f2f2;
}
ul.custom-tabs li {
	padding: 0;
	text-align: center;
	position: relative;
}
ul.custom-tabs li a {
    font-size: 1rem;
    color: #3a3938;
}
ul.custom-tabs li.tabs-title > a:focus, ul.custom-tabs li.tabs-title > a[aria-selected="true"] {	
    color: #fff;
}
ul.blue li.tabs-title > a:focus, ul.blue li.tabs-title > a[aria-selected="true"] {
    background-color: #26c6e8;
}
ul.green li.tabs-title > a:focus, ul.green li.tabs-title > a[aria-selected="true"] {	
	background-color: #6bbe54;
}
ul[class*="arrow"] li.tabs-title > a[aria-selected="true"]::before,
ul[class*="arrow"] li.tabs-title > a[aria-selected="true"]::after {
    height: 0;
    width: 0;
    content: "";
}
ul.arrow-right.x2 li.tabs-title > a[aria-selected="true"]::before {
    position: absolute;
    left: 0;
    border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
    border-left: 15px solid #f5f2f2;
}
ul.arrow-right li.tabs-title:not(:last-child) > a[aria-selected="true"]::after {
    position: absolute;
    left: 100%;
    border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
    border-left: 15px solid;
}
ul.arrow-left li.tabs-title:not(:first-child) > a[aria-selected="true"]::before {
    position: absolute;
    right: 100%;
    border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
    border-right: 15px solid;
}
ul.arrow-left.x2 li.tabs-title > a[aria-selected="true"]::after {
    position: absolute;
    right: 0;
    border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
    border-right: 15px solid #f5f2f2;
}
ul.arrow-bottom li.tabs-title > a[aria-selected="true"]::after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
    border-left: 12px solid transparent;
	border-right: 12px solid transparent;
    border-top: 12px solid;
}
ul.arrow-right.blue li.tabs-title > a[aria-selected="true"]::after {
	border-left-color: #26c6e8;
}
ul.arrow-right.green li.tabs-title > a[aria-selected="true"]::after {
	border-left-color: #6bbe54;
}
ul.arrow-left.blue li.tabs-title > a[aria-selected="true"]::before {
	border-right-color: #26c6e8;
}
ul.arrow-left.green li.tabs-title > a[aria-selected="true"]::before {
	border-right-color: #6bbe54;
}
ul.arrow-bottom.blue li.tabs-title > a[aria-selected="true"]::after {
	border-top-color: #26c6e8;
}
ul.arrow-bottom.green li.tabs-title > a[aria-selected="true"]::after {
	border-top-color: #6bbe54;
}
.tabs-content {
	padding-bottom: 50px;
}
.search-list:hover{
	background-color: #eee;
	cursor: pointer;
}
.job-detail-content {
	height: 90vh;
    overflow: auto;
}
.chat-section {
	width: 70%;
	position: absolute;
	left: 5%;
	top: 2%;
}
.chat-section ul {
	height: 60vh;
	overflow-y: visible;
	overflow-x: auto;
	padding-left: 15px;
}
.chat-section ul li {
	width: 60%;
	position: relative;
	display: block;
	padding: 15px;
	margin-top: 1rem;
	border-radius: 7px;
	line-height: 1.2;
	font-size: 0.9rem;
}
.chat-section ul li::before {
	width: 0;
	height: 0;
	content: "";
	position: absolute;
	right: 100%;
	top: 50%;
	margin-top: -12px;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
    border-right: 15px solid;
}
.chat-section ul li.me::before {
	border-right-color: #26c6e8;
}
.chat-section ul li.other::before {
	border-right-color: #ebebeb;
}
.chat-section ul li.me {
	background-color: #26c6e8;
	color: #fff;
}
.chat-section ul li.other {
	background-color: #ebebeb;
	color: #3a3938;
}
.chat-section ul li img {
	height: 64px;
	width: 64px;
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -32px;
}
.chat-section form .button {
	padding: 0.6rem 3rem;
	margin-right: 0;
}
label.helper-label {
	font-size: 1rem;
}
[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="color"],
textarea {
	border-radius: 7px;
	background-color: #f4f4f2;
	border-color: transparent;
}
.button {
	border-radius: 5px;
}
[class*=" input-group-"],
[class^="input-group-"] {
	border-radius: 0px;
}
[class*=" input-group-"]:first-child, 
[class^="input-group-"]:first-child
{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
[class*=" input-group-"]:last-child, 
[class^="input-group-"]:last-child
{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
[class*=" input-group-"], 
[class^="input-group-"]
{
	border-color: #dfdddd;
	background-color: #fff;
}
[class*=" input-group-"][disabled="disabled"],
[class^="input-group-"][disabled="disabled"]
{
	background-color: #fff;
}
.helper-tab-button {
	width: 150px;
}
.reveal {
	border-radius: 7px;
}
.helper-button-fullwidth {
	width: 100%;
	margin-top: 10px;
}
form .helper-form-field {
	margin-bottom: 1rem;
	position: relative;
}
form .helper-form-field input, form .helper-form-field textarea {
	margin: 0;
}
form .helper-form-field.error,
form .helper-form-field.error .helper-label {
	color: #ef6767;
}
form .helper-form-field.error input,
form .helper-form-field.error textarea {
	border-color: #ef6767;
	padding-right: 25px;
}
form .helper-form-field.error .icon {
	position: absolute;
	top: 33px;
	right: 25px;
	font-size: 1.4rem;
	color: #ef6767;
}
form .helper-form-field.error .bttm-icon {
	font-size: 1.4rem;
}